@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.titles{
  justify-content: center;
  text-align: center;
  min-height: 0;
}
#gd{
  color: #fff;
  font: inherit;
font-size: 130px;
text-shadow: #424648;
}
#gs{
  color: #2f1515;
  font: inherit;
  padding-top: 5%;
font-size: 80px;
text-shadow: #424648;
}



  .cont {
    gap: 50%;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    min-height: 30%
    
  }
  #t{
    background: #01101a;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    justify-content: space-around;
}
#s{
  background: #592828;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  margin-right: 20px;
}